{% extends "base.html.j2" %}
{% block title %}Ошибка 404{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Страница не найдена</h1>
{% endblock %}