{% extends "base.html.j2" %}
{% block title %}Главная{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Главная</h1>
    <div class="loadbox"><span class="loader"></span></div>
    <p>{{ ua }}</p>

{% endblock %}